<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognizer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Photo Gallery</h1>
        <div class="header-actions">
            <form id="name-search-form" class="name-search-container">
                <input type="search" id="name-search-input" list="person-names" placeholder="Search by name...">
                <datalist id="person-names"></datalist>
                <button type="submit" class="search-btn">Search</button>
            </form>

            <form id="upload-form" class="upload-container">
                <input type="file" id="image-upload" name="images" accept="image/*" multiple style="display: none;">
                <label for="image-upload" class="upload-btn">Upload Images</label>
            </form>

            <form id="search-form" class="search-container">
                <input type="file" id="search-input" name="image" accept="image/*" style="display: none;">
                <label for="search-input" class="search-btn">Search by Face</label>
            </form>
            
            <button id="clear-search-btn" class="clear-btn" style="display:none;">Clear Search</button>
        </div>
    </header>
    <main>
        <div class="photo-grid" id="photo-grid">
            <!-- Photos will be dynamically loaded here -->
        </div>
    </main>
    <script src="/static/js/script.js"></script>

    <!-- The Modal -->
    <div id="photo-modal" class="modal">
        <span class="face-name"></span><span class="delete-face-name" title="Unassign Name">&times;</span>
        <span class="close-btn">&times;</span>
        <div class="modal-image-container">
            <img class="modal-content" id="modal-image">
            <div id="face-box-container"></div>
        </div>
        <div id="modal-caption"></div>
    </div>
</body>
</html>
